<li>
    <%= gravatar_for user, size: 50 %>
    <%= link_to user.name, user %><% if user.admin? %>&#9733<%end%><br>
    <% if current_user.admin?%>
        <% if !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure you want to DELETE this user?" } %>
        | <%= link_to "reset", user, method: :reset, data: { confirm: "Are you sure you want to RESET this user?" } %>
        |
        <% else %>
        | <%= link_to "reset", user, method: :reset, data: { confirm: "Are you sure you want to reset this user?" } %>
        |
        <% end %>
    <% end %>
    <p>Date joined: <%= user.created_at.strftime("%B %d, %Y") %><br>
    Images uploaded: <%= user.ImageUploads %></p>
</li>